.carousel {
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.slider {
    display: flex;
    gap: 15px;
    transition: transform 0.5s ease;
}

.card {
    width: 300px;
    padding: 20px;
    margin-right: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.prevButton,
.nextButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    z-index: 1;
}

.prevButton {
    left: 10px;
}

.nextButton {
    right: 10px;
}

.largeCarousel {
    margin: 20px;
}

.largeCarousel .gridItem {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    width: 48%;
    margin: 1%;
}


@media (min-width: 769px) {
    .largeCarousel .gridItem {
        width: 48%;
        margin: 1%;
    }
}