* {
    font-family: "Merriweather", serif;
    font-weight: 500;
    font-style: normal;
}

.parentNavbar {
    display: flex;
    flex-direction: column;
}

.logoContainer{
   width: 320px;
}

.logoContainer img{
    width: 100%;
    height: 100%;
}

.logoContainerMobile{
    width: 300px;
    height: 130px;
 }

 .logoContainerMobile img{
    width: 100%;
    height: 100%;
 }

.topbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    min-height: 10vh;
    gap: 50px;
    position: static;
}



.registerBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.registerBtnMobile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.registerBtnMobile button {
    background-color: black;
    color: rgb(198, 204, 204);
    border: 1px solid rgb(198, 204, 204);
    border-radius: 10px;
    padding: 5px;
    transition: 0.3s ease-in-out;
}


.registerBtn button {
    background-color: black;
    color: rgb(198, 204, 204);
    border: 1px solid rgb(198, 204, 204);
    border-radius: 10px;
    padding: 5px;
    transition: 0.3s ease-in-out;
}

.registerBtn button:hover {
    background-color: rgb(198, 204, 204);
    color: black;
    border: none;
}

.searchAndBasket {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 50%;
}

.navbar {
    background-color: rgb(51, 51, 51);
    display: flex;
    justify-content: center;
    gap: 0px;
    height: 10vh;
}

.parentLogo {
    height: 19vh;
    width: 10%;
}

.logoImg {
    width: 100%;
    height: 100%;
}

.navbarLinks ul {
    display: flex;
    height: 100%;
    gap: 30px;
}

.navbarLinks li {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    border-right: 1px solid rgb(198, 204, 204);
    padding-right: 25px;
}


.navbarLinks a {
    color: white;
    font-size: 17px;
    text-decoration: none;
    padding: 8px;
}

.navbarLinks a:hover {
    color: rgb(198, 204, 204);
}

.navbarLinks li:hover .dropdownMenu {
    display: block;
}

.dropdownWrapper {
    position: relative;
}

.dropdownWrapper:hover .dropdownContent {
    display: flex;
    flex-direction: column;
    height: 200px;
    gap: 0px;
}

.dropdownContent {
    position: absolute;
    min-width: 133px;
    top: 73px;
    right: 0px;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.852);
}

.dropdownContent li {
    padding: 8px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease;
}

.dropdownContent a {
    color: black;
}

.dropdownContent li:hover {
    background-color: #33373d;
}


/* sacqulluq */

.dropdownWrapper:hover .dropdownContentSacqulluq {
    display: flex;
    flex-direction: column;
    height: 400px;
    gap: 0px;
}

.dropdownContentSacqulluq {
    position: absolute;
    min-width: 228px;
    top: 73px;
    right: 0px;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.852);
}

.dropdownContentSacqulluq li {
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease;
}

.dropdownContentSacqulluq a {
    color: black;
}

.dropdownContentSacqulluq li:hover {
    background-color: #33373d;
}


/* meiset */

.dropdownWrapper:hover .dropdownContentMeiset {
    display: flex;
    flex-direction: column;
    height: 200px;
    gap: 0px;
}

.dropdownContentMeiset {
    position: absolute;
    min-width: 123px;
    top: 73px;
    right: 0px;
    z-index: 1001;
    background-color: rgba(255, 255, 255, 0.852);
}

.dropdownContentMeiset li {
    padding: 8px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease;
}

.dropdownContentMeiset a {
    color: black;
}

.dropdownContentMeiset li:hover {
    background-color: #33373d;
}

.drawer {
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1000;
}

.drawerList a {
    color: black;
    font-weight: 600;
}

.searchAndBasketSmall {
    display: flex;
    flex-direction: column;
}

.smallNavbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: rgb(51, 51, 51); */
    background-color: rgb(25, 25, 22);
    /* height: 300px; */
}

.topbarSmall {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* gap: 50px; */
}

.drawerAndRegister {
    display: flex;
    gap: 10px;
}

.registerSmall {
    background-color: black;
    color: rgb(198, 204, 204);
    border: 1px solid rgb(198, 204, 204);
    border-radius: 10px;
    padding: 5px;
    transition: 0.3s ease-in-out;
}

.registerSmall:hover {
    background-color: rgb(198, 204, 204);
    color: black;
    border: none;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
    -webkit-appearance: none;
}

.search input[type="search"] {
    -webkit-search-cancel-button: none;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 16px;
    padding-left: 10px;
    box-sizing: border-box;
}

input[type="search"]::placeholder {
    transition: opacity 0.3s ease;
    opacity: 1;
}

input[type="search"]:focus::placeholder {
    opacity: 0;
}

.search {
    position: relative;
    width: 280px;
    height: 3vh;
    margin: 10px;
}

.searchLarge {
    position: relative;
    width: 480px;
    height: 3vh;
    margin: 10px;
}

.searchExtraLarge {
    position: relative;
    width: 550px;
    height: 4vh;
    margin: 10px;
}

.searchResultsExtra {
    position: absolute;
    width: 50%;
    background-color: white;
    border: 1px solid #ccc;
    border-top: none;
    z-index: 1001;
    max-height: 500px;
    overflow-y: auto;
    margin: 0 380px;
}

.searchResultsExtra img {
    width: 100px;
}

.searchInput {
    width: 100%;
    height: 100%;
    padding: 5px;
}

.clearIcon {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
}

.searchResults {
    position: absolute;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-top: none;
    z-index: 1001;
    max-height: 400px;
    overflow-y: auto;
}

.resultItem {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.resultItem:hover {
    background-color: #33373d;
    color: white;
}

.resultItem img {
    width: 200px;
    height: auto;
    margin-right: 10px;
}

.noResults {
    text-align: center;
}

.cartItemCount {
    position: relative;
    top: -15px;
    background-color: orange;
    color: white;
    border-radius: 50%;
    padding: 4px 10px;
    font-size: 12px;
    min-width: 2 0px;
    text-align: center;
}

.ropdownLangToggle {
    display: flex;
    width: 100%;
    height: 30px;
}


.dropdownLang {
    position: relative;
    display: inline-block;
    z-index: 1000;
}

.dropdownLangToggle {
    background-color: #f8f9fa;
    color: #212529;
    border: 1px solid #ced4da;
    padding: 8px 12px;
    cursor: pointer;
}

.dropdownLangMenu {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ced4da;
    margin-top: 4px;
    list-style: none;
    width: 80px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dropdowLangMenu img {
    width: 20%;
    margin: 0 auto;
}

.dropdownLangMenu li {
    padding: 8px 12px;
    cursor: pointer;
}

.dropdowLangMenu li:hover {
    background-color: #f8f9fa;
}

.azLi {
    display: flex;
    cursor: pointer;
    background-color: #33373d;
    ;
    width: 80px;
    height: 40px;
    list-style: none;
    padding: 3px 4px;
}