.parentCountdown {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    margin-top: 100px;
}

.dayCount {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageContainer img {
    width: 50%;
    margin-bottom: 20px;
}

.imageContainerLarge{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageContainerLarge img{
    width: 45%;
    margin-bottom: 20px;
}

.infoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.infoContainer p{
    font-size: 15px;
}

.time {
    margin-top: 5px;
    text-align: center;
    font-weight: 600;
}

.detailWhislistButton {
    margin-top: 10px;
    width: 350px;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid black;
    transition: 0.4s ease;
    margin-left: 2px;
    margin-bottom: 10px;
}

.detailWhislistButton:hover {
    background-color: rgb(216, 153, 16);
    cursor: pointer;
}

.detailWhislistButton:hover p {
    color: white;
}