.parentAbout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.imgParent {
    width: 100%;
}

.imgParent img {
    width: 100%;
    height: 40vh;
    background-image: url("https://img-aws.ehowcdn.com/750x400p/photos.demandstudios.com/getty/article/94/204/177429570.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.aboutText {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    text-align: justify;
    gap: 20px;
    padding: 30px;
    background-color: rgb(243, 245, 246);
}