@media screen and (min-width: 576px) {
    .grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    .card {
        position: relative;
        width: calc(25% - 20px);
        margin-bottom: 25px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        padding: 20px;
    }


    .cardImg {
        width: 80%;
        max-height: 300px;
        margin: 20px auto;
    }

    .keratinName {
        margin: 0 auto;
        font-size: 18px;
        color: #737373;
        text-decoration: none;
        font-weight: 500;
        width: 80%;
    }

    .card p {
        width: 80%;
        margin: 0 auto;
    }

    .detailWhislistButton {
        width: 50%;
        margin: 0 auto;
    }

    .basketBtn {
        width: 100%;
        padding: 10px;
        background-color: rgb(122, 122, 122);
        color: white;
        font-weight: 600;
        margin-top: 15px;
    }

    .eyeBtn {
        background-color: rgb(122, 122, 122);
        color: white;
        border: none;
        padding: 5px 7px;
        border-radius: 50%;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
    }

}


@media screen and (max-width: 575px) {
    .grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }


    .card {
        position: relative;
        width: calc(51% - 10px);
        margin-bottom: 25px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        padding: 20px;
    }


    .cardImg {
        width: 80%;
        max-height: 300px;
        margin: 0 auto;
    }

    .keratinName {
        margin: 0;
        font-size: 18px;
        color: #737373;
        text-decoration: none;
        font-weight: 500;
        width: 80%;
        margin: 0 auto;
    }

    .eyeBtn {
        color: rgb(122, 122, 122);
        background-color: transparent;
        border: none;
        padding: 5px 7px;
        border-radius: 50%;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 0px;
    }

    .card p {
        width: 80%;
        margin: 0 auto;
    }

    .detailWhislistButton {
        width: 50%;
        margin: 0 auto;
    }

    .basketBtn {
        width: 100%;
        padding: 5px;
        background-color: rgb(122, 122, 122);
        color: white;
        font-weight: 600;
        margin-top: 15px;
    }

}