.parentDetailKeratin {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.mobileParentDetailKeratin {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.parentProductImg {
    width: 40%;
    margin: 40px 0;
    border: 1px solid rgb(148, 136, 136);
}

.parentProductImg img {
    width: 100%;
}

.mobileParentProductImg {
    width: 70%;
    margin: 40px 0;
    border: 1px solid black;
}

.mobileParentProductImg img {
    width: 100%;
}

.keratinDetailInfo {
    width: 35%;
    height: 96vh;
}

.mobileKeratinDetailInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.firstDetail {
    display: flex;
    padding: 20px;
    flex-direction: column;
    gap: 15px;
    font-size: 17px;
}

.mobileFirstDetail {
    width: 80%;
    width: 100%;
}

.mobileFirstDetail p {
    font-size: 15px;
}

.mobileFirstDetail h2 {
    font-size: 22px;
}

.productDetails {
    letter-spacing: 1px;
}

.inputParent {
    margin: 26px;
}

.mobileInputParent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 35px;
    margin-top: 20px;
}

.mobileInputParent h3 {
    font-size: 20px;
}

.mobileBrandName {
    margin-left: 35px;
}

.mobileInputParent input {
    margin-top: 10px;
    width: 50px;
    height: 6vh;
    text-indent: 10px;
    font-size: 17px;
}

.inputParent input {
    margin-top: 10px;
    width: 80px;
    height: 7vh;
    text-indent: 10px;
    font-size: 17px;
}

.detailWhislistButton {
    margin-top: 10px;
    width: 350px;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid black;
    transition: 0.4s ease;
    margin-left: 2px;
    margin-bottom: 10px;
}

.detailWhislistButton:hover {
    background-color: rgb(216, 153, 16);
    cursor: pointer;
}

.detailWhislistButton:hover p {
    color: white;
}


.flipCard {
    background-color: transparent;
    width: 260px;
    height: 254px;
    perspective: 1000px;
    font-family: sans-serif;
    margin: 50px auto;
}

.title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
}

.flipCardInner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flipCard:hover .flipCardInner,
.flipCard:focus .flipCardInner {
    transform: rotateY(180deg);
}

.flipCardFront,
.flipCardBack {
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
}

.flipCardBack {
    color: white;
    transform: rotateY(180deg);
}