.dayCommerParent {
    margin-top: 130px;
}


@media screen and (min-width: 575px) {
    .dayCommer {
        text-align: center;
        font-size: 18px;
        width: 100%;
        height: 550px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: center center;
        background-size: cover;
    }
}


@media screen and (max-width: 575px) {
    .dayCommer {
        text-align: center;
        font-size: 18px;
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: center center;
        background-size: contain;
    }
}