.dayCommerParent{
    margin-top: 100px;
    width: 100%;
}

.dayCommer{
    width: 100%;
}

/* @media (max-width:560px){
    .dayCommerParent{
        width: 70%;
    }
    
    .dayCommer{
        width: 0%;
    }
} */

