@media screen and (min-width: 576px) {
    .modalContent {
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .modalContent img {
        width: 100%;
        max-height: 300px;
        object-fit: cover;
        margin: 0 auto;
    }

    .modalContent h2 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .modalContent button {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    .modalContent button:hover {
        background-color: #0056b3;
    }

    .imgModalDetail{
        display: flex;
    }

    .textDetail {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    .textDetail p {
        /* background-color: red; */
    }


    .detailWhislistButton {
        margin-top: 10px;
        width: 200px;
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: 2px solid black;
        transition: 0.4s ease;
        margin-left: 2px;
        margin-bottom: 10px;
    }

    .detailWhislistButton p {
        margin: 0 auto;
    }

    .detailWhislistButton:hover {
        background-color: rgb(216, 153, 16);
        cursor: pointer;
    }

    .detailWhislistButton:hover p {
        color: white;
    }


    .modal {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1000;
    }

    .closeButton {
        position: absolute;
        top: 25%;
        left: 73%;
        background-color: transparent;
    }

    .closeButtonIcon {
        background-color: rgb(51, 51, 51);
        border-radius: 10px;
    }

    .closeButtonIcon:hover {
        background-color: rgb(244, 40, 146);
    }

}

@media screen and (max-width: 576px) {

    .modalContent {
        background-color: white;
        width: 80%;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .modalContent img {
        width: 100%;
        max-height: 300px;
        object-fit: cover;
        margin: 0 auto;
    }

    .modalContent h2 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .modalContent button {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    .modalContent button:hover {
        background-color: #0056b3;
    }

    .imgModalDetail{
        display: flex;
        flex-direction: column;
    }

    .textDetail {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    .textDetail p {
        /* background-color: red; */
    }


    .detailWhislistButton {
        margin-top: 10px;
        width: 200px;
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: 2px solid black;
        transition: 0.4s ease;
        margin-left: 2px;
        margin-bottom: 10px;
    }

    .detailWhislistButton p {
        margin: 0 auto;
    }

    .detailWhislistButton:hover {
        background-color: rgb(216, 153, 16);
        cursor: pointer;
    }

    .detailWhislistButton:hover p {
        color: white;
    }

    .modal {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1000;
    }

    .closeButton {
        position: absolute;
        top: 20%;
        left: 82%;
        background-color: transparent;
    }

    .closeButtonIcon {
        background-color: rgb(51, 51, 51);
        border-radius: 10px;
    }

    .closeButtonIcon:hover {
        background-color: rgb(244, 40, 146);
    }
}