@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";


/* desktop */

.desktop-media-scroller {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 80px 40px;
}

.desktop-media-element {
  width: 1000px;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  gap: 20px;
  background-color: white;
}

.desktop-media-icon{
  display: flex;
  justify-content: center;
  width: 70px;
}



.media-scroller {
  --_spacer: var(--size-3);
  display: grid;
  gap: var(--_spacer);
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  padding: 0 var(--_spacer) var(--_spacer);
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}


.media-group {
  display: grid;
  gap: var(--_spacer);
  grid-auto-flow: column;
}

.media-element {
  display: grid;
  grid-template-rows: min-content;
  gap: var(--_spacer);
  padding: var(--_spacer);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-2);
  display: flex;
  margin: 50px 0;
}


.container {
  inline-size: min(100% - 4rem, 70rem);
  margin-inline: auto;
}

.flow {
  display: grid;
  gap: var(--size-3);
}

.page-header {
  padding-block: var(--size-9);
  margin-block-end: var(--size-9);
  box-shadow: var(--shadow-2);
}

.page-title {
  font-size: var(--font-size-fluid-3);
}

.page-subtitle {
  font-size: var(--font-size-fluid-1);
}

.section-title {
  padding-inline-start: var(--size-6);
  margin-block: var(--size-9) var(--size-3);
}

.title{
  font-size: 12px;
}

.media-icon{
  display: flex;
  justify-content: center;
  width: 40px;
}